@import "colors";

@mixin transition($effect){
	transition: $effect;
	-webkit-transition: $effect;
	-moz-transition: $effect;
	-ms-transition: $effect;
}

.body-bg{
	background-color: #555;
}

.app_nav{
	margin: 20px;
	max-width: 640px;

	.app_nav-header{
		padding: 0;
		background: #fff;
		border-radius: 5px;
	}
	
}

.app_nav-container{
	font-family: 'Open Sans';
	font-weight: 600;
	font-size: 25px;		
	padding: 0;

	.app_nav-list{
		background: #fff;
		margin: 0;
		border-radius: 5px;

		/*Hight selected item*/
		.items-selected{
			color: $color-3;
			background: $color-4;
			border-bottom: 4px solid $color-1;
			z-index: 10;
		}
		.app_nav-list-items{
			@include transition(all 0.2s ease);
			.app_nav-list-items-number{
			    background: #e55e3a;
			    color: #fff;
			    border-radius: 50%;
			    position: relative;
			    top: -11px;
			    left: 12px;
			    padding: 0px 4px;
			    font-size: 10px;

			}
			.app_nav-list-items-content{
				position: relative;
			    top: 1px;
			    left: 12px;
			    font-size: 16px;
			}
		}

		/*Adjust items' position*/
		.app_nav-list-item-1{
		    min-width: 157px;
		}
		.app_nav-list-item-2{
		    min-width: 160px;
		}
		.app_nav-list-item-3{
		    min-width: 157px;
		}
		.app_nav-list-item-4{
		    min-width: 157px;
		}
	}		

}

.app_nav-list-items a{
	color: $color-3;
	padding-right: 30px;
}

/*Hover animation*/
.app_nav-list-items a:hover{
	color: $color-3;
}

/*Hover animation*/
.app_nav-list-items:hover{
	background: $color-4;
	border-bottom: 4px solid $color-2;
	border-radius: 5px;
}

/*Hover animation*/
.app_nav-list-items:hover .icon{
	color: $color-2;
}

.app_nav-list-items-dropdown-items{
	margin: 6px 0 0 0;
}

/*Hover animation*/
.app_nav-list-items-dropdown-items:hover{
	border-left: 4px solid $color-2;
}


.icon{
	@include transition(all 1.0s ease);
    vertical-align: middle;
    margin: 4px 0 0 1px;
    font-size: 27px;
}

